@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Light mode (default) */
:root {
  --bg: #ffffff;
  --fg: #111111;
}

/* Dark mode (when .dark is added to <html>) */
.dark {
  --bg: #0a0a0a;
  --fg: #ffffff;
}

/* Apply theme colors globally */
body {
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
